body {
    background-image: url(Basic-Portfolio/assets/images/wavebg.jpg);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;

}

img {
    width: 150px;
    height: 115px;
    float: left;
    margin: 10px;
}

p {
    word-wrap: break-word;
}

.top, .section {
    width: 960px;
    margin: 0 auto;

}

section {
    width: 960px;
    padding: 20px;
    margin: 10px;
    align: center;
    background: #ffffff;
    border: solid #dddddd;
    overflow-wrap: break-word;
    float: left;
}

.navigator {
    float: right;
}

.name {
    width: 160px;
    padding: 20px;
    background: #4aaaa5;
    color: white;
    text-align: center;
    float: left;
}

a {
    padding: 10px;
}

.top {
    width: 100%;
    height: 120px;
    padding: 20px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    visibility: visible;
}

.innertop {
    width: 960px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.secondrow {
    float: none;
}

footer {
    background: #666666;
    border-top: 5px solid #4aaaa5;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 0;
}